body {
    font-family: Arial, sans-serif;
    background-color: #fdd7e2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    z-index: -2;
    position: relative;
}

.cringe-ahh-stickers {
    position: absolute;
    z-index: -1;
    display: flex;
    gap: 500px;
}

#eatingchips {
    width: 200px;
}

#owlcat {
    width: 200px;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #ea315f;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background: #c02045;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

li i {
    margin-right: 10px;
    cursor: pointer;
}

li.completed i {
    color: #ea315f;
}

.scrollable {
    max-height: 400px;
    overflow-y: auto;
    border: 1px dotted #ffcece;
}

.scattered-images img {
    z-index: -1;
    position: absolute;
    width: 100px;
    height: auto;
}